<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/bst5/css/bootstrap.min.css">
    <script src="/bst5/js/bootstrap.min.js"></script>
    <script src="/bst5/js/bootstrap.bundle.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.css">
    <title>รายการขอใช้งานอุปกรณ์</title>
</head>

<style>
    th,td{
        text-align: center;
    }
</style>

<body>
    <%- include('navbar') %>
        <div class="d-flex">
            <nav class="nav flex-column full-height-nav">
                <p style="font-size: 20px; text-align: center;">
                    <b>เมนู</b>
                </p>
                <% if ( type_user=='Admin' ) { %>
                    <a class="nav-link" href="/user" style="color: #333333;">
                        <i class="bi bi-people"></i>
                        ข้อมูลผู้ใช้
                    </a>
                    <a class="nav-link" href="/category" style="color: #333333;">
                        <i class="bi bi-bookmarks"></i>
                        ข้อมูลหมวดหมู่
                    </a>
                    <a class="nav-link" href="/device" style="color: #333333;">
                        <i class="bi bi-cpu"></i>
                        ข้อมูลอุปกรณ์
                    </a>
                    <a class="nav-link position-relative" href="/order" style="color: #1a75ff; text-shadow: 0px 0px 5px #1a75ff">
                        <i class="bi bi-cart"></i>
                        รายการ
                    </a>
                <% } else { %>
                    <a class="nav-link" href="/category" style="color: #333333;">
                        <i class="bi bi-bookmarks"></i>
                        ข้อมูลหมวดหมู่
                    </a>
                    <a class="nav-link" href="/device" style="color: #333333;">
                        <i class="bi bi-cpu"></i>
                        ข้อมูลอุปกรณ์
                    </a>
                    <a class="nav-link position-relative" href="/order" style="color: #1a75ff; text-shadow: 0px 0px 5px #1a75ff">
                        <i class="bi bi-cart"></i>
                        รายการ
                    </a>
                <% } %>
            </nav>
            <div class="full-height">
                <br>
                <div class="row">
                    <div class="col">
                        <h1>รายการเบิก</h1>
                    </div>
                    <div class="col-5" style="margin: auto;">
                        <div style="float: right;">
                            <% var deviceIDLength = 0; %>
                            <% Object.values(order).forEach(function(val) { %>
                                <% if (val.DeviceID) { %>
                                    <% deviceIDLength += val.DeviceID.length; %>
                                <% } %>
                            <% }) %>
                            <% if ( type_user=='User' && deviceIDLength > 0) { %>
                                <button type="button" class="btn bt-add" data-bs-toggle="modal" data-bs-target="#confirm-order" style="white-space: nowrap;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-plus" viewBox="0 0 16 16">
                                        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"/>
                                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
                                    </svg>
                                    ยืนยันรายการ
                                </button>
                            <% } %>
                            <button hidden id="show" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#MultiDelete">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                                ลบรายการ
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <br>
                <% if ( type_user=='Admin' ) { %>
                    <div class="btn-group" style="width: 100%; margin-bottom: 30px;">
                        <a href="/order" class="btn btn-outline-primary" aria-current="page">อนุมัติรายการเบิก</a>
                        <a href="/all-history-order" class="btn btn-outline-primary" aria-current="page">ประวัติการเบิกทั้งหมดในระบบ</a>
                    </div>
                <% } else { %>
                    <div class="btn-group" style="width: 100%; margin-bottom: 30px;">
                        <a href="#" class="btn btn-primary active" aria-current="page">รายการเบิก</a>
                        <a href="/my-history" class="btn btn-outline-primary">ประวัติการเบิกของฉัน</a>
                    </div>
                <% } %>
                <div class="alert alert-danger show" role="alert" style="text-align: center; display: none;">
                    <i class="bi bi-exclamation-triangle" style="margin-right: 10px;"></i>
                    มีอุปกรณ์ที่ไม่สามารถทำการเบิกได้อยู่ในรายการ
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 3%; text-align: center;">#</th>
                            <th>รหัสอุปกรณ์</th>
                            <th>ชื่ออุปกรณ์</th>
                            <th>ประเภท</th>
                            <th>สถานะ</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let i = 1 %>
                        <% Object.values(order).forEach(function(obj){%>
                            <% Object.values(obj.DeviceID).forEach(function(item){%>
                                <tr>
                                    <td style="text-align: center;"><%= i++ %></td>
                                    <td style="text-align: center;"><%= item.DeviceID %></td>
                                    <td><%= item.DeviceName %></td>
                                    <% Object.values(device).forEach(function(i){%>
                                        <% if(item._id.toString() == i._id.toString()){ %>
                                        <td><%= i.CategoryID.CategoryName %></td>
                                        <th>
                                            <% if (i.Status == '00' ) { %>
                                                <span class="badge rounded-pill bg-primary">
                                                    ไม่ได้ใช้งาน
                                                </span>
                                            <% } else if (i.Status == '01' ) { %>
                                                <span class="badge rounded-pill bg-danger">
                                                    เลิกใช้งาน
                                                </span>
                                            <% } else if (i.Status == '02' ) { %>
                                                <span class="badge rounded-pill bg-warning" style="color: black;">
                                                    อยู่ระหว่างทำรายการเบิก
                                                </span>
                                            <% } else { %>
                                                <span class="badge rounded-pill bg-success">
                                                    กำลังใช้งาน
                                                </span>
                                            <% } %>
                                        </th>
                                        <td>
                                            <a class="btn" href="/del_order/<%= obj._id %>/<%= item._id %>" onclick="return confirm('ต้องการที่จะลบข้อมูล ?')">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                                                    viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                    <path fill-rule="evenodd"d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                </svg>
                                            </a>
                                        </td>
                                        <% } %>
                                    <% }) %>
                                    
                                </tr>   
                            <% }) %>
                        <% }) %>
                    </tbody>
                </table>
                <!-- Modal Edit Order -->
                <div class="modal fade" id="confirm-order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">ยืนยันรายการ</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="text-align: center;">
                                ต้องการยืนยันรายการคำขอหรือไม่ ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                                <a class="btn btn-danger" href="/confirm-order">ตกลง</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Edit Order -->
                <div class="modal fade" id="modal-edit-order" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">เพิ่มจำนวน</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/edit-order" class="needs-validation" novalidate method="post" id="edit-order">
                                    <input id="order_id" type="text" name="id" required hidden>
                                    <div class="mb-3 row">
                                        <label class="col-sm-2 col-form-label">จำนวน:</label>
                                        <div class="col-sm-10">
                                            <input id="order_number" type="number" class="form-control" name="order_number" min="1" required>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" form="edit-order">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal MultiDelete -->
                <div class="modal fade" id="MultiDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    ลบข้อมูลผู้ใช้ ( Checkbox
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                                        <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                                        <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                                    </svg> )
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" style="text-align: center;">
                                ต้องการลบข้อมูลหรือไม่
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                                <input class="btn btn-danger" type="submit" value="ตกลง" form="gg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<script>
    // ตรวจสอบค่าของคุกกี้ที่ชื่อ "ConfirmOrderFail"
    var ConfirmOrderFailCookie = document.cookie.replace(/(?:(?:^|.*;\s*)ConfirmOrderFail\s*\=\s*([^;]*).*$)|^.*$/, "$1");

    if (ConfirmOrderFailCookie === 'true') {
        // หากค่าของคุกกี้เป็น true
        // แสดง alert โดยการเปลี่ยนค่า style attribute เป็น display: block;
        var alertDiv = document.querySelector('.alert-danger');
        alertDiv.style.display = 'block';
    }

    $(document).on("click", ".edit-order", function () {
        let order_id = $(this).data('id');
        let order_number = $(this).data('number');

        $('#order_id').val(order_id);
        $('#order_number').val(order_number);
    });

    function CheckAll(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
            {
                checkboxes[i].checked = source.checked;
            }
        }
        var checkedValue = []; 
        checkboxes.forEach(item => {
            checkedValue.push(item.value);
        });
        !source.checked ? document.getElementById('deleteArray').value = '' : document.getElementById('deleteArray').value = checkedValue.slice(1);
    }
    function checkDelete() {
        var checkedValue = []; 
        const a = document.querySelectorAll('.check-delete:checked')
        a.forEach(item => {
            checkedValue.push(item.value);
        });
        document.getElementById('deleteArray').value = checkedValue
    }
</script>

</html>