<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายงานอุปกรณ์</title>
</head>

<body>
    <div class="date">
        Date: <%= new Date().toLocaleString('th-TH') %>
    </div>
    <h2>Device information report</h2>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>รหัสอุปกรณ์</th>
                <th>ชื่ออุปกรณ์</th>
                <th>ประเภท</th>
                <th>สถานะอุปกรณ์</th>
                <th>วันที่เพิ่ม</th>
                <th>วันที่จำหน่าย</th>
            </tr>
        </thead>
        <tbody>
            <% let no = 1; %>
            <% Object.values(devices).forEach(function(item){%>
                <tr>
                    <td>
                        <%= no++ %>
                    </td>
                    <td>
                        <%= item.DeviceID %>
                    </td>
                    <td>
                        <%= item.DeviceName %>
                    </td>
                    <td>
                        <%= item.CategoryID.CategoryName %>
                    </td>
                    <td>
                        <% if (item.Status=='00' ) { %>
                            ไม่ได้ใช้งาน
                        <% } else if (item.Status=='02' ) { %>
                            อยู่ระหว่างทำรายการเบิก
                        <% } else if (item.Status=='03' ) { %>
                            กำลังใช้งาน
                        <% } else { %>
                            <span class="disabled">เลิกใช้งาน</span>
                        <% } %>
                    </td>
                    <td>
                        <%= item.DateAdd.toLocaleString('th-TH').substring(0, 8) %>
                    </td>
                    <td>
                        <% if (item.DateDispose) { %>
                            <%= item.DateDispose.toLocaleString('th-TH').substring(0, 8) %>
                        <% } %>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
</body>

<style>
    body {
        font-family: Arial, sans-serif;
        color: #333;
    }

    h2 {
        margin-top: 50px;
        text-align: center;
    }

    table {
        margin: 0 auto;
        width: 90%;
        border-collapse: collapse;
        margin-top: 30px;
    }

    th,td {
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: #003a6c;
        color: ghostwhite;
    }

    tr:nth-child(even) {
        background-color: #eaf2ff;
    }

    .date {
        text-align: right;
        margin-top: 0px;
        color: rgb(185, 185, 185);
    }

    .disabled {
        color: red;
    }
</style>


</html>