<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipment Request Receipt</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        .container {
            width: 80%;
            margin: auto;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .info {
            margin-bottom: 20px;
        }
        .info span {
            font-weight: bold;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #003a6c;
            color: ghostwhite;
        }
        tr:nth-child(even) {
            background-color: #eaf2ff;
        }
        .footer {
            margin-top: 20px;
            text-align: center;
            font-style: italic;
            color: #777;
        }
        .signature {
            margin-top: 50px;
            margin-right: 150px;
            margin-left: auto;
        }
        .signature p {
            margin-bottom: 10px;
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Equipment Request Receipt</h1>
        <div class="info">
            <p><span>Date:</span> <%= date %></p>
            <p><span>Receipt No:</span> <%= order.OrderID %></p>
            <p><span>Name:</span> <%= order.UserID.Prefix %> <%= order.UserID.FirstName %> <%= order.UserID.LastName %></p>
        </div>        
        <table>
            <tr>
                <th>#</th>
                <th style="width: 300px;">รหัสอุปกรณ์</th>
                <th>ชื่ออุปกรณ์</th>
                <th>ประเภท</th>
            </tr>
            <% let no = 1 %>
            <% Object.values(devices).forEach(function(item){%>
                <tr>
                    <td><%= no++ %></td>
                    <td><%= item.DeviceID %></td>
                    <td><%= item.DeviceName %></td>
                    <td><%= item.CategoryID.CategoryName %></td>
                </tr>
            <% }) %>
            <!-- Add more rows as needed -->
        </table>
        <div class="signature">
            <p>Signature:</p>
            <p>Date:</p>
        </div>
        <p class="footer">Thank you for your request!</p>
    </div>
</body>
</html>